header {
  inset: 0;
}
header img {
  z-index: -1;
}
.navbar .navbar-nav {
  background-color: white;
}
@media (min-width: 992px) {
  .navbar .navbar-nav {
    background-color: transparent;
  }
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
}
.navbar-brand > img {
  width: 16rem;
}
