.hero {
  width: 100%;
  aspect-ratio: 1.78;
  z-index: -1;
}
.hero > img {
  background-repeat: no-repeat;
  background-size: cover;
}
.title-one {
  top: 12%;
  @include media-breakpoint-up(xl) {
    font-size: 3rem;
  }
  @include media-breakpoint-up(xxl) {
    top: 22.5%;
  }
}
.title-two {
  top: 62.5%;
  @include media-breakpoint-up(xl) {
    top: 80%;
  }
}
.title-three {
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1500px) {
  .title-two {
    top: 100%;
  }
}
@media only screen and (min-width: 1900px) {
  .title-two {
    top: 125%;
  }
}
