.hero {
  width: 100%;
  aspect-ratio: 1.78;
  z-index: -1;
}
.hero > img {
  background-repeat: no-repeat;
  background-size: cover;
}
.title-one {
  top: 12%;
  @include media-breakpoint-up(xl) {
    font-size: 3rem;
  }
  @include media-breakpoint-up(xxl) {
    top: 22.5%;
  }
}
.title-two {
  top: 61%;
  @include media-breakpoint-up(xl) {
    top: 73%;
    font-size: 3rem;
  }
  @include media-breakpoint-up(xxl) {
    top: 81%;
  }
}
.title-three {
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
}
