$primary: #80AFDC;
$font-family-sans-serif: "Public Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$nav-link-font-size: 1rem;
$navbar-padding-y: 0.25rem;